body {
    font-family: 'Onest', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #20292b;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    margin: 0 1vw;
    padding: 0.5vw 1vw;
    transition: all 0.3s ease;
}

a:hover {
    color: #942e2e;
    transform: scale(1.05);
}

span {
    color: #942e2e;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    padding: 0 2vw;
    font-weight: 700;
    background-color: #20292b;
}

nav {
    margin-right: 15vw;
}

.introducao {
    width: 60vw;
    height: 55vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.titulo {
    font-size: 3vw;
    color: white;
}

.subtitulo {
    font-size: 6vw;
    margin-top: 5vw;
    width: 40vw;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
}

.descricao {
    font-size: 1.8vw;
    margin-top: 2vw;
    width: 30vw;
    font-weight: 700;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    margin-left: 2vw;
}

main {
    background-color: #30383a;
    width: auto;
    height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2vw;
}

.imagem-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    width: 40vw;
    margin-right: 5vw;
}

.imagem-main img {
    width: 35vw;
    border-radius: 50%;
    margin-bottom: 5vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
}

.botao-contato {
    background-color: #942e2e;
    color: white;
    border: none;
    padding: 1vw 2vw;
    font-size: 2vw;
    cursor: pointer;
    margin-top: 3vw;
    border-radius: 2vw;
    width: 30vw;
    margin-left: 2vw;
    font-weight: 700;
    height: 5vw;
    transition: all 0.3s ease;
}

.botao-contato:hover {
    background-color: #c23a3a;
    transform: translateY(-0.5vw);
    box-shadow: 0 5px 15px rgba(148, 46, 46, 0.4);
}

.localizacao {
    background-color: #00000048;
    height: 69vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
    color: white;
    border-radius: 3vw;
}

.cabecalho-mapa {
    font-size: 3vw;
    background-color: #30383a;
    display: flex;
    flex-direction: column;
    height: 30vw;
    width: 85vw;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

h2 {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    padding: 1vw;
    text-align: center;
    font-size: 6vw;
    color: white;
}

.mapa-descricao {
    font-size: 1.5vw;
    width: 30vw;
}

.mapa {
    background-color: #30383a;
    height: 39vw;
    width: 85vw;
}

.mapa-iframe {
    width: 80vw;
    height: 37vw;
    border: none;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
    margin-left: 2.5vw;
    margin-bottom: 1vw;
}

.titulo-maquinas {
    margin-top: 10vw;
    width: 85vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6vw;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    color: white;
}

.descricao-maquinas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5vw;
    height: 10vw;
    width: 40vw;
    margin-top: 2vw;
    font-weight: 700;
    color: white;
}

.maquinas-main {
    background-color: #30383a;
    height: 89vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    margin: 0;
    background: #30383a;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    font-size: 2.8vw;
    margin: 0 1vw;
    padding: 0.5vw 1vw;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

.carrossel {
    position: relative;
    width: 80vw;
    height: 45vw;
    overflow: hidden;
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10vw;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}

.slide1,
.slide2,
.slide3,
.slide4 {
    background-color: rgba(0, 0, 0, 0.281);
}

.botao,
.botaoPro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    font-size: 5vw;
    padding: 0.5vw 1vw;
    cursor: pointer;
    border-radius: 0.5vw;
    width: 6vw;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.botao:hover,
.botaoPro:hover {
    background-color: rgba(148, 46, 46, 0.3);
    border-color: #942e2e;
    color: #942e2e;
    transform: translateY(-50%) scale(1.1);
}

.prev,
.prevProfissionais {
    left: 1vw;
}

.next,
.nextProfissionais {
    right: 1vw;
}

.descricao-profissionais {
    font-size: 3vw;
}

.profissionais {
    background-color: #30383a;
    height: 89vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
    color: white;
}

.carrossel-profissionais {
    position: relative;
    width: 40vw;
    height: 50vw;
    overflow: hidden;
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 5vw;
    margin-bottom: 10vw;
}

.slides-profissionais {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    color: white;
}

.profissional {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    color: #000;
    font-size: 1.5vw;
    font-weight: bold;
}

.profissional1,
.profissional2 {
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
}

.profissional1 {
    background-image: url('imagens/carlos e germano.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.profissional2 {
    background-image: url('imagens/ivan.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h3 {
    margin: 0;
    margin-bottom: 2vw;
    font-size: 3vw;
    background-color: rgba(180, 25, 25, 0.5);
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.planos {
    background-color: #30383a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vw 2vw;
    margin-top: 5vw;
    height: auto;
    color: white;
}

.planos h1 {
    font-size: 6vw;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    margin-bottom: 2vw;
    color: white;
}

.descricao-planos {
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 4vw;
    color: white;
}

.plano {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.5);
    padding: 3vw;
    margin: 2vw;
    border-radius: 2vw;
    flex: 1;
    min-width: 20vw;
    height: auto;
    min-height: 25vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plano:hover {
    transform: translateY(-1vw);
    box-shadow: 0 0 3vw rgba(148, 46, 46, 0.8);
}

.plano h3 {
    background-color: rgb(189, 22, 22);
    font-size: 2.2vw;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    margin: 0 0 1.5vw 0;
    color: white;
}

.plano h4 {
    font-size: 3.5vw;

    border-radius: 1.5vw;
}

.plano p {
    padding: 1vw 0;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;
    color: white;
}

.container-planos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    gap: 2vw;
}